.personalData{
    grid-area: 1 / 2 / 3 / 3;
    height: 100%;
    width: 100%;
}
.eventLog{
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
    width: 100%;
}
.trustedDevice{
    grid-area: 2 / 3 / 3 / 4;
    height: 100%;
    width: 100%;
}