.main-Home{
  grid-area: 1 / 2 / 3 / 3;
  height: 100%;
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
}
.window-Home{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.History {
  grid-area: 1 / 3 / 2 / 4;
}

.Chart {
  grid-area: 2 / 3 / 3 / 4;
}

.Income {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%; 
}

.Income > :nth-child(1) {
  height: 10%;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
}

.Income > :nth-child(2) {
  height: 30%;
  width: 100%;
}

.Income > :nth-child(3) {
  height: 60%;
  width: 100%;
}

.Goals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.History{
  padding: 0rem 0rem 0rem 0rem;
}
.Chart{
  padding: 0rem 0rem 0rem 0rem;
}
